<div class="center">
  <h1>Welcome to the Online shopping center</h1>

  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          
          <li><%= link_to "Sign in", {:controller => 'sign_in', :action => 'log_in'} %></li>
          <li><%= link_to("SignUp", {:action => 'new'}) %></li>
        </ul>
      </nav>
    </div>
  </div>
  
  <!-- <h1>Sign up</h1> -->
</div>

